*{
    box-sizing: border-box;
}

body {background-color: rgb(190, 173, 166);}

table{
     border-collapse: collapse;
    
    }
    
td, th {
    border: 1px solid;
}

header{
    border-bottom: 10px solid #cfcfcf;
}
#div1,#div2{
    float:left;
    width:45%;
    font-family:'Sofia', sans-serif;
    color: brown;
    font-size: larger;

}

#div3{
    clear:both;
    text-align: center;
    background-color: rgb(138, 62, 62);
    color:whitesmoke;
    height: 50px;
    padding: 2px;
    
}

#img1{
    height: 50px;
}

span{
    font-family: 'TradeGothicLTStd-Bold',sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

 ul li {
    display: inline;
    padding:100px;
    left:10;
   text-align: center;

}

main ol li{

     list-style-type:none;
     padding: 20px;
     font-family: Georgia, Times;


 }

 main{
     position: relative;
    height: 200px;

 }
 main ol{
 display: flex;
  justify-content: center;
 }
 
footer nav{
   
     clear:both;
     background: rgb(39, 39, 39);
     display: flex;
     justify-content: center;
  
 }

footer nav ol{
    list-style-type:none;
    font-size: small;
    color:seashell;
    padding: 20px;
    margin: 10px;
    
 
    
}

 footer{
  
    justify-content: center;
    margin-top: 100px;
 }

 #imgsalmon{
     position: absolute;
     height: 250px;
     top: 01%;
  left: 10%;
  opacity: 0.5;
  z-index: -1;

 }
 .imgclass{
    height:50px
 }

 #table{
     color: rgb(208, 218, 209);
     font-size: small;
     padding: 10px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     background-color: rgb(53, 31, 38);
     width:25%
     
 }

 #table1{
    text-decoration: none;
    color: rgb(208, 218, 209);
    font-size: large;
 }

 form {
     padding: 20px;
     width: 30%;
     color: rgb(159, 173, 162);
     background-color: rgb(53, 31, 38);
     float: left;
 
 }



 




 


